html,
body {
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}
p {
    margin: 0 0 10px;
}
.navbar{
	margin-bottom : 20px;
}


.btn {
    //background-color:#FAFCF0;
    background-color:button-face;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn-confirm {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.banner {
  position: relative;
  top: 0;
  border-width: 0 0 1px;
  
  margin-bottom: 20 px;
  
  background-color: #6b1d60;
  
  z-index: 1;
  background-image: url('/img/hello-xebia.png');
  background-size: 147px 49px;
  background-repeat: no-repeat;
  /*background-position: left;*/
  
  padding:20px 0 30px 500px;
  font-size: x-large;
  color: #ffffff;
}
aside{
    width:15%;
    float:left;

}
aside>h4{
    margin-left:30px;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}
.btn-command {
    color: #5bc0de;
    background-color: #fff;
    border-color: #357ebd;
}
.btn-command.activ {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-identity-color {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-identity-bw {
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
}
section{
    width:85%;
    float:right;
}
section.content{
	//margin-left:30px;
}

.order-cmd{
margin-left: 70px;
margin-top: 50px;
}
.order-cmd>button{
    margin-left : 10px;
}
.photobooth{
	//display:inline-block;
}
#camera{
	display:inline-block;
	width:40%;
	vertical-align:top;
}
#camera>div>p{
	font-size:small;
}
#photo{
    display:inline-block;
    width:40%;
    vertical-align:top;
}
#action{
    display:inline-block;
    float:right;
}

.snapshotResult{
    width:640px; 
    height: 480px;
}
.ipWebcamResult{
    width: 300px; 
    height: 150px
}


.hidden{
	display:none;
}
.visible{
    display:block;
}